<div class="features-boxed" style="background-color:rgb(245,245,245);">
	<div class="container">
		<div class="intro">
				<h2 class="text-center">Selecione o Serviço</h2>
		</div>
		<div class="row features" style="padding-top:20px;">
			<div class="col-md-4 col-sm-6 col-xs-6 item">
				<a href="#">
					<div class="box">
						<%= image_tag("motor.png", style: "max-width:90px;") %>
						<h3 class="name" style="margin-top:8px;display:flex;justify-content:center;color:rgb(49,52,55);">Motor</h3>
					</div>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-6 item">
				<a href="#">
					<div class="box">
						<%= image_tag("rueda.png", style: "max-width:90px;") %>
						<h3 class="name" style="margin-top:8px;display:flex;justify-content:center;color:rgb(49,52,55);">Borracharia</h3>
					</div>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-6 item">
				<a href="#">
					<div class="box">
						<%= image_tag("saltador.png", style: "max-width:90px;") %>
						<h3 class="name" style="margin-top:8px;display:flex;justify-content:center;color:rgb(49,52,55);">Elétrico</h3>
					</div>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-6 item">
				<a href="#">
					<div class="box">
						<%= image_tag("coche.png", style: "max-width:90px;") %>
						<h3 class="name" style="margin-top:8px;display:flex;justify-content:center;color:rgb(49,52,55);">Lavagem</h3>
					</div>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-6 item">
				<a href="#">
					<div class="box">
						<%= image_tag("asiento.png", style: "max-width:90px;") %>
						<h3 class="name" style="margin-top:8px;display:flex;justify-content:center;color:rgb(49,52,55);">Estofado</h3>
					</div>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-6 item">
				<a href="#">
					<div class="box">
						<%= image_tag("puerta.png", style: "max-width:90px;") %>
						<h3 class="name" style="margin-top:8px;display:flex;justify-content:center;color:rgb(49,52,55);">Lataria</h3>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>