<%= form_with(model: review, local: true, url: fix_reviews_path, style: "background-color:rgba(255,255,255,0);") do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h2 class="text-center">Avaliação</h2>
  <div class="form-group">
    <%= form.text_area :comment, id: :review_comment, rows: "14", name: "message", placeholder: "Deixar um comentário", class: "form-control"%>
  </div>
  <div class="form-group">
    <%= form.number_field :avaliation, id: :review_avaliation, class: "form-control", placeholder: "Avaliar mecânico", min: "1", max: "5", step: "1" %>
  </div>
  <div class="form-group" style="display:flex;justify-content:center;">
    <%= form.submit "ENVIAR", class: "btn btn-primary" %>
  </div>
<% end %>